* {
    font-family: "Open Sans Condensed";
    letter-spacing: 1px;
    font-size: 18px;
}

.titulo::before {
    height: 5rem;
    visibility: hidden;
    display: block;
    content: "";
    margin-top: -3rem;
}

#Crucci {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    
}

#card {
    width: 45%;
    column-count: 2;
    margin-top: 100px;
    white-space: nowrap;

}

#cursos {
    margin: 0px 150px;
}

hr {
    border-color: #919191;
}

#div_skills li {
	background-color: #334057;
	color: #FFFFFF;
	border: 3px solid #FFFFFF;
	border-radius: 15px 15px 40px 40px;
    padding-left: 30px;
    margin: 0 auto;
    list-style: none;
}

@media (max-width: 576px) {
    .w-75 {
        width: 98% !important;
    }
}

@media (max-width: 768px) {
    #cursos {
        width: 70% !important;
        margin: 0 auto;
}
    #card {
        white-space: break-spaces;
    }
}

